# Ignore java class files
*.class

# Ignore gradle
.gradle
/build/

# Ignore package files
*.jar
*.war
*.ear

# Ignore .env files
*.env*
!*.env.example

# Don't ignore gradle-warpper
!gradle-wrapper.jar

.settings